.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  height: 10vh;
  z-index: 2;
  box-shadow: 3px 8px 17px 0px rgba(30,220,151,1);
}

.home-logo {
  float: left;
  margin-left: 2vw;
  margin-top: 1.8vw;
  font-weight: bold;
}

.logged-in-as {
  float: right;
  margin-right: 2vw;
  margin-top: 1vw;
  height: 4vw;
  cursor: pointer;
  width: 15vw;
  text-align: left;
  padding-top: 0.75vw;
  padding-left: 1vw;
  overflow: hidden;
}

.profile-img {
  height: 2.5vw;
  width: 2.5vw;
  margin-right: 1vw;
}

.logged-in-as:hover {
  background-color: #1ecd97;
  color: #333;
}

.logged-in-as:hover span {
  display: none;
}

.logged-in-as:hover:after {
  content: "Logout";
}

li {
  display: inline;
}

#col1, #col2 {
  float: left;
  background-color: #282c34;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s;
  overflow: hidden;
  min-height: 90vh;
  margin-top: 8vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

#col3 {
  float: right;
  background-color: #282c34;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s;
  overflow: hidden;
  min-height: 90vh;
  margin-top: 8vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

td, th {
  border: 0.2em solid #1ecd97;
  padding: 0.5rem;
}

.input-field {
  border: 0.2em solid #1ecd97;
  padding: 12px 20px 12px 40px;
  background-color: #1ecd97;
  color: black;
  background-image: url("https://img.icons8.com/pastel-glyph/32/000000/search--v2.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  font-size: 2vmin;
}

.control-panel {
  align-items: center;
  overflow: scroll;
}

.page-index {
  align-items: center;
  overflow: scroll;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.submit-btn {
  border: 0.2em solid #1ecd97;
  padding: 12px 20px 12px 20px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 2vmin;
}

.submit-btn:hover {
  background: #1ecd97;
  color: #333;
  margin-left: 3px;
  padding: 12px 20px 12px 17px;
}

.Song-row {
  cursor: pointer;
}

.Song-row:active {
  transform: translateY(6px);
}

.Song-row:hover {
  background: #1ecd97;
  color: #333;
}

.Song-list {
  margin: 0 auto;
  width: 55vw;
}

.Song-text {
  margin: 3vw;
}

.Song-name {
  font-size: 0.7em;
}

.Artist-name {
  font-size: 0.5em;
}

.App {
  text-align: center;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

.left-space {
  margin-left: 50px;
}

/** Buttons **/

.page-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 2.5vmin;
  padding: 0.2em 0.7em;
  text-transform: uppercase;
}

.import-btn {
  right: 5vw;
  min-width: 10vw;
  position: fixed;
}

.dud-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid transparent;
  color: transparent;
  font-size: 3vmin;
  padding: 0.5em 1.0em;
  text-transform: uppercase;
}

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.5em 1.0em;
  text-transform: uppercase;
}

.btn:hover, .page-btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}

.expandable {
  padding-top: 10px;
  /* overflow set to hidden to hide the expanded text */
  overflow: scroll;
  /* all style changes will ease-in-out for 1s */
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s;
}